<h1>New landmark</h1>

<form method="post" action="/landmarks">
  <label for="landmark_name">Landmark name: </label>
  <input type="text" id="landmark_name" name="landmark[name]"><br>

  <label for="landmark_year_completed">Landmark year completed: </label>
  <input type="text" id="landmark_year_completed" name="landmark[year_completed]"><br>

  <input type="submit" value="Create New Landmark" id="submit">
</form>
